.activities_wrapper {
    position: relative;
    width: 100%;
    /* height: 280px !important; */
    margin-bottom: 2rem;
    border-radius: 5px;
    background-color: var(--bg-grey);
}

.activities_wrapper .recharts-legend-icon {
    border-radius: 50%; /* Utilisez 50% pour obtenir des icônes complètement arrondies */
    width: 20px; /* Ajustez la largeur selon vos besoins */
    height: 20px;
}

.activities_wrapper .legends {
    position: absolute;
    font-weight: 500;
    top: 13px;
    left: 40px;
}

.activities_wrapper .custom-tooltip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    background-color: var(--main-color);
    color: #fff;
    font-size: .8rem;
}
